{% extends './base.html' %}

{% block title %}Cambiar contraseña{% endblock %}

{% block body %}
<main class="form-signin w-100 m-auto" style="max-width: 420px; padding: 15px; margin-top: 100px !important;">
  <form action="/new-password" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <h1 class="h3 mb-3 fw-normal">Cambiar contraseña</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-warning p-2 text-center" role="alert" style="font-size: 0.9rem;">
        {% for message in messages %}{{ message }}{% endfor %}
      </div>
    {% endif %}
    {% endwith %}

    <input type="hidden" name="reset_identifier" value="{{ reset_identifier }}"/>

    <div class="form-floating mb-2">
      <input type="password" class="form-control" id="password" name="password" placeholder="Nueva contraseña" required>
      <label for="password">Nueva contraseña</label>
    </div>

    <div class="form-floating mb-2">
      <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirmar contraseña" required>
      <label for="confirm_password">Confirmar contraseña</label>
    </div>

    <button class="w-100 btn btn-lg btn-success mb-2" type="submit">Guardar contraseña</button>
    <a href="{{ url_for('login') }}" class="d-block text-center mt-2">Volver al inicio</a>
  </form>
</main>
{% endblock %}
